@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to right,  #02162A 42.01%, #023955 95.76%);
 
}
.coin{
  background-size: cover;
}


.buynow-button{

/* padding: 8px 45.98px 8px 46.02px; */

text-align: center;
 
/* width: 165px;
height: 50px;
left: 613px;
top: 1px; */

background: radial-gradient(50% 50% at 50% 50%, #033A61 0%, #000C18 100%);
border: 2px solid #FFFFFF;
box-shadow: 1px 3px 0px #2AABE6;
border-radius: 7px 0px 7px 7px;
}
.navbar-button{
  /* position: absolute; */
  /* width: 80px;
  height: 34px;
  left: -18px;
  top: 3px; */
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
 
  /* identical to box height, or 189% */
  
 
  
  
  
  
}

.hero{
  
  background-repeat: no-repeat;
  
  background-image: url("../src/Assets/Images/Coin-Hero.png");
  


}
.section2-icon{
  height: 40px;
  width: 40px;

}
.border-box-section3{
  


background: #06192C;
border: 2px solid #50C6FB;
box-shadow: 0px 0px 10px #50C6FB;
border-radius: 20px;
}
.box-section6{
  
/* width: 413px;
height: 362px;
left: 75px;
top: 4272px; */

background: #06192C;
border: 2px solid #50C6FB;
box-shadow: 0px 0px 10px #50C6FB;
border-radius: 20px;
}
.bottom-bg{

  
  /* background-image: url("./Assets/Images/Bg-bottom.svg"); */
  /* background-repeat: no-repeat; */
  /* background-position: left; */
  /* position: absolute; */
  /* width: 100%; */
  /* top: 175%; */

  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .navbar {

    -webkit-mask-image: url(.//Assets/Images/Nav2-bg.png); 
    mask-image: url(.//Assets/Images/Nav2-bg.png);
    background-color: #86CFF0;
    -webkit-mask-repeat: no-repeat ;
    mask-repeat: no-repeat;
    -webkit-mask-position: 50% 0%;
    mask-position : 50% 0%;
    
    
  }
}